{% extends 'dashboard_layout.html' %}
{% load static %}

{% block content %}

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="background-color: rgb(4, 99, 215);">
            <div class="quixnav-scroll" style="color: white;">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Student Dashboard</li>
                    <li  class="side_nav"><a href="{% url 'dashboard' %}"   style="background-color: rgb(4, 99, 215);" aria-expanded="false"><i style="color: white;"
                                class="bi bi-book"></i><span style="color: white;" class="nav-text">Available Courses</span></a>
                    </li>
                    <li class="side_nav"><a href="{% url 'course_signup' %}"    style="background-color: rgb(4, 99, 215);"  aria-expanded="false"><i style="color: white;"
                                class="bi bi-bookmark-check"></i><span style="color: white;" class="nav-text">Courses Signed Up</span></a>
                    </li>
                    <li class="side_nav active"><a href="{% url 'profile' %}"   style="background-color: rgb(4, 99, 215);" aria-expanded="false"><i style="color: white;"
                                class="bi bi-person"></i><span style="color: white;" class="nav-text">profile</span></a>
                    </li>
                    <li class="side_nav"><a href="{% url 'signout' %}"   style="background-color: rgb(4, 99, 215);" aria-expanded="false"><i style="color: white;"
                        class="icon-key"></i><span style="color: white;" class="nav-text">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="authincation h-100">
                    <div class="container-fluid h-100">
                        <div class="row justify-content-center h-100 align-items-center">
                            <div class="col-md-6">
                                <div class="authincation-content">
                                    <div class="row no-gutters">
                                        <div class="col-xl-12">
                                            <div class="auth-form">
                                                <div class="text-center">
                                                    {% for message in messages %}
                                                        {% if 'profile' in message.tags %}
                                                            <span class="form-control font-weight-bold alert alert-success">{{message}}</span>
                                                        {% endif %}
                                                    {% endfor %}   
                                                    
                                                </div>  
                                                <form action="">
                                                    <div class="form-group" style="width: 100px;height: 100px;overflow: hidden;border-radius: 50%;border: 5px rgba(0, 179, 255, 0.658) solid;">
                                                        
                                                            <img src="{{savatar.avatar.url}}" style="width: 100%;height: auto;object-fit: cover;" alt="">
                                                        
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <label><strong>First name</strong></label>
                                                        <input value="{{savatar.fname}}" disabled type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Last name</strong></label>
                                                        <input value="{{savatar.lname}}" disabled type="text" class="form-control">
                                                    </div>
                                                    
                                                    <div class="form-group" >
                                                        <label><strong>Gender</strong></label>
                                                        <select disabled class="form-control">
                                                            <option value="{{savatar.gender}}">{{savatar.gender}}</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Phone</strong></label>
                                                        <input value="{{savatar.phone}}" disabled type="tel" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Country</strong></label>
                                                        <input value="{{savatar.country}}" disabled type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>State</strong></label>
                                                        <input value="{{savatar.state}}" disabled type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>City</strong></label>
                                                        <input value="{{savatar.city}}" disabled type="text" class="form-control">
                                                    </div>
                                            
                                                </form>
                                                <div >
                                                    <a href="{% url 'profile_edit' %}"><button type="button" class="btn btn-success text-white"><i class="bi bi-pencil"></i> Edit Profile</button></a>
                                                    <a  href="{% url 'change_pass' %}"><button type="button" class="btn btn-danger"> Change Password </button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


    </div>
{% endblock %}