{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5 img-fluid">
       <div>
           <img src="{% static 'img/favicon.png' %}" style="height: 50px;width:50px;" class="img-fluid">
       </div> 
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'course' %}" class="nav-item nav-link">Courses</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                
                
            </div>
            <a href="{% url 'signin' %}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Log In</a>
            <a href="{% url 'register' %}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Register</a>
        </div>
    </nav>
</div>
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Register</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Register</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center bg-image">
        <div class="col-lg-6 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">REGISTER</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="text-center">
                            {% for message in messages %}
                                {% if 'exist' in message.tags %}
                                    <span class="form-control font-weight-bold align-middle  alert alert-danger">{{message}}</span>
                                {% endif %}
                            {% endfor %}  
                            </div> 
                        </div>   
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required name="fname" type="text" class="form-control bg-light border-0" placeholder="First Name" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required name="lname" type="text" class="form-control bg-light border-0" placeholder="Last Name" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select name="gender" required class="form-select col-sm-12 bg-light border-0"  style="padding: 18px 20px;">
                                    <option value="Null">--select gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" required name="dob" placeholder="Date Of Birth" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control bg-light border-0" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required name="email" type="email" class="form-control bg-light border-0" placeholder="Email" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="tel" required name="phone" maxlength="15" class="form-control bg-light border-0" placeholder="Phone No" style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select required name="country" id="country" class="form-select col-sm-12 bg-light border-0"  style="padding: 18px 20px;">
                                    <option  selected="selected">--select country--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select id="state" required name="state" class="form-select col-sm-12 bg-light border-0"  style="padding: 18px 20px;">
                                    <option  selected="selected">--select state--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select id="city" required name="city" class="form-select col-sm-12 bg-light border-0"  style="padding: 18px 20px;">
                                    <option  selected="selected">--select city--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>
                                    <label for="avatar">Upload Avatar</label>
                                    <input required  name="avatar" id="avatar" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h5>Select Your Hobbies:</h5>
                                <div class="d-inline-flex">
                                    <div>
                                        <input value="Games" name="hobby[]" id="games" type="checkbox" >
                                        <label for="games">Games</label>
                                    </div>
                                    <div class="px-3">
                                        <input value="Drawing" name="hobby[]" id="draw" type="checkbox" >
                                        <label for="draw">Drawing</label>
                                    </div>
                                    <div >
                                        <input value="Music" name="hobby[]" id="music" type="checkbox" >
                                        <label for="music">Music</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">REGISTER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--scripts-->


<script src="{% static 'js/register.js' %}" ></script>
{% endblock %}

